<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CatalogURL</key>
	<string>http://my.org/content/catalogs/others/index-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
	<key>7zipURL</key>
	<string>http://my.org/files/7z1514-x64.msi</string>
	<key>Dmg2ImgURL</key>
	<string>http://my.org/files/dmg2img-1.6.5-win32.zip</string>
</dict>
</plist>